.heading {
  color: rgba(218, 8, 8, 1);
  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}

.guild_stats > article > table {
  th:nth-child(n + 2) {
    min-width: 175px;
  }

  th:nth-child(n + 3) {
    min-width: 100px;
    text-align: center;
  }

  td:nth-child(n + 3) {
    text-align: center;
  }
}
