$color-primary: #4caf50;
$color-primary-light: #66bb6a;
$color-text-light: snow;

.enter-button {
  background: $color-primary;
  border: none;
  border-radius: 25px;
  color: $color-text-light;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  outline: none;
  padding: 0.75em 2em;
  position: relative;
  text-transform: uppercase;
  z-index: 100;

  @media only screen and (max-width: 500px) {
    font-size: 1em;
  }

  &:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
  }

  &::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: $color-primary;
    border-radius: inherit;
    content: "";
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.75;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
  }
}

@-webkit-keyframes glow {
  0% {
    background: $color-primary;
  }

  25% {
    background: $color-primary-light;
  }

  100% {
    background: $color-primary;
  }
}

@keyframes glow {
  0% {
    background: $color-primary;
  }

  25% {
    background: $color-primary-light;
  }

  100% {
    background: $color-primary;
  }
}

.ninja {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
}

.intro {
  height: 100vh;
  width: 40vw;
  display: inline-block;
  z-index: 100;

  @media only screen and (max-width: 500px) {
    width: 70vw;
  }

  img {
    width: 40vw;
    margin-left: 2em;

    @media only screen and (max-width: 500px) {
      width: 60vw;
    }
  }
}
